{% extends 'base.html.twig' %}

{% block title %}TMS OD Konzerte{% endblock %}

{% block body %}
    {% for concert in concerts %}
        <div>
            {{ concert.title }}

        </div>
    {% endfor %}
{% endblock %}
